accelerate==0.16.0
-e git+ssh://git@github.com/MaureenZOU/detectron2-xyz.git@42121d75e10d9f858f3a91b6a39f5722c02868f0#egg=detectron2
-e git+ssh://git@github.com/arogozhnikov/einops.git@5e6674c573e20b3a1fa733621c16df0dc56dff2a#egg=einops
einops-exts==0.0.4
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
omegaconf==2.3.0
open-clip-torch==2.19.0
openai==0.27.0
opencv-python==4.7.0.72
pandas==2.0.1
peft==0.2.0
Pillow==9.4.0
PyYAML==6.0
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.98
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
tensorboard==2.13.0
tensorboard-data-server==0.7.0
timm==0.6.13
tokenizers==0.13.3
torch==2.0.0
torchaudio==0.12.1
torchvision==0.13.1
tornado==6.3.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
transformers==4.28.0
wandb==0.15.0
webdataset==0.2.48
zipp==3.14.0
json_tricks
yacs
numpy==1.23.5
einops
fvcore
ftfy
regex
nltk
vision-datasets==0.2.2
pycocotools==2.0.4
diffdist
pyarrow
cityscapesscripts
shapely
scikit-image
mup
gradio==3.27.0
scann
kornia==0.6.4
torchmetrics==0.6.0
invisible-watermark
diffusers==0.11.1
altair
git+https://github.com/arogozhnikov/einops.git
git+https://github.com/MaureenZOU/detectron2-xyz.git
git+https://github.com/openai/whisper.git